body {
font-family: 'Courier New', Courier, monospace;
}

.title {
font-size: 36px;
font-weight: 900;
/* Solution CSS below  */
text-align: center;
margin: 0px 0px 32px 0px;
}

img {
    width: 100px;
    height: 100px;
}

/* Solution CSS adds below */

.big-container {
display: flex;
justify-content: center;
gap: 52px;
}

.small-container {
text-align: center;
width: 200px;
}
